

<h2>@ViewBag.Title</h2>

<br />
<div>
    @Html.ActionLink("Create", "New", "SmallBusinesses", null, new { @class = "btn btn-primary" })
</div>
<br />


<table id="tblSmallBusinesses" class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/dynamicform")

    <script>
        $(document).ready(function () {

            let successMessage = "@TempData["SuccessMessage"]";
            console.log(successMessage);
            if (successMessage != null && successMessage != '') {
                toastr.clear();
                var notify = toastr.success(successMessage);
                var $notifyContainer = jQuery(notify).closest('.toast-top-right');
                $notifyContainer.css("margin-top", 65);
            }

            var table = $("#tblSmallBusinesses").DataTable({
                ajax: {
                    url: "/api/smallbusinesses",
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customerName",
                        title: "Customer Name"
                    },
                    {
                        data: "sellingPrice",
                        title: "SellingPrice",
                        className: "text-right",
                        render: $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                    {
                        data: "paymentReceived",
                        title: "PaymentReceived",
                        className: "text-right",
                        render: $.fn.dataTable.render.number(',', '.', 2, ''),
                    },
                    {
                        data: "status",
                        title: "Status",
                        render: function (data, type, smallBusiness) {
                            return "<span  style='color: " + smallBusiness.statusColor+";' >" + data + "</span>";
                        }
                        //render: function (data, type, account) {
                        //    return "<a href='/SavingAccounts/edit/" + account.id + "'>" + data + "</a>";
                        //}
                    },
                    {
                        data: "dueDate",
                        title: "Due Date"
                    },
                    {
                        data: "id",
                        className: "text-center",
                        title: "Payment",
                        render: function (data, type, obj) {
                            return "<a class='btn btn-secondary btn-sm btn-block' href='/SmallBusinesses/AddPayment/" + data + "'>Add</a>";
                        }
                        
                    },
                    {
                        data: "id",
                        className: "text-center",
                        title: "Detail",
                        render: function (data, type, obj) {
                            return "<a class='btn btn-secondary btn-sm btn-block' href='/SmallBusinesses/Details/" + data + "' target='_blank'>View</a>";
                        }

                    }
                ]
                    //{
                    //    data: "id",
                    //    title: "Delete",
                    //    render: function (data, type, movie) {
                    //        return "<button data-movie-id='" + data + "' data-movie-name='" + movie.name + "' class='btn btn-sm btn-danger js-delete'>Delete</button>";
                    //    }
                    //}

            });
            
        });
    </script>

}