@model CELSavings.ViewModels.AccountStatementViewModel
@{
    ViewBag.Title = "AccountStatement";
}

<div class="table-responsive-md">
    <table class="table table-sm border">
        <thead class="thead-light">
            <tr>
                <th colspan="4" scope="col">Account Statement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">A/C No:</th>
                <td class="align-middle">@Model.AccountNo</td>
                <th scope="row">A/C Name:</th>
                <td class="align-middle">@Model.AccountName</td>
            </tr>
            <tr>

                <th scope="row">Email:</th>
                <td class="align-middle">@Model.Email</td>
                <th scope="row">Phone:</th>
                <td class="align-middle">@Model.Mobile</td>
            </tr>
            <tr>
                <th scope="row">NID:</th>
                <td class="align-middle">@Model.NID</td>
                <th scope="row"></th>
                <td class="align-middle"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive-md">
    <table class="table table-sm border">
        <thead class="thead-light">
            <tr >
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Particullars</th>
                <th scope="col">Debit</th>
                <th scope="col">Credit</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <th scope="row">@item.Serial</th>
                    <td>@item.TranDate</td>
                    <td>@item.Description</td>
                    <td>@(item.Debit != 0 ? item.Debit.ToString("#,##0.00") : "-")</td>
                    <td>@(item.Credit != 0 ? item.Credit.ToString("#,##0.00") : "-")</td>
                    <td>@item.Balance.ToString("#,##0.00")</td>
                </tr>
            }
        </tbody>
        <tfoot class="thead-light">
            <tr>
                <th colspan="3" scope="row">Total:</th>
                <th scope="row">@Model.Details.Sum(x=>x.Debit).ToString("#,##0.00")</th>
                <th scope="row">@Model.Details.Sum(x => x.Credit).ToString("#,##0.00")</th>
                <th scope="row">@((Model.Details.Sum(x => x.Credit) - Model.Details.Sum(x => x.Debit)).ToString("#,##0.00"))</th>
            </tr>
        </tfoot>
    </table>
</div>